/*Main Styles*/
body {
    background-color: 
    #d4d4d4;
    padding-left: 0px;
    margin: 0 auto;
}
.wrapper {
    background-color: white;

}

.primary-content {
    width: 100%;
    margin: 0 auto;
}
.main-header {
    text-align: center;
    margin-top: 30px;
}
.main-nav a {
    list-style: none;
    display: block;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    background-color: white;
    margin-top: 20px;
    border-bottom: 6px;
    margin-left: 10%;
    margin-right: 10%;
}
.contact {
    list-style: none;
    margin: 0 auto;
}
    
.primary-content,
.main-header {
    text-align:center;
}
h1 {
    margin-top: 2%;
}
h2 {
    font-size: 20px;
}
img {
    max-width: 90%;
}

.footer-nav {
    padding: 0;
    margin: 0 1% 0 1%;
    border-width: 1px 0 0 0;
	border-color: black;
    border-style: solid;
}
.name {
display: inline-block;
margin-top: 20px;
padding-bottom: 20px;
font-size: 20px;
}

.back a {
    text-decoration: none;
    color: black;
}

ul{
    list-style:none;
    padding: 0;
}
.portfolio-name {
    padding-top: 20px;
    margin-top: 25px;
}
.bottom {
    visibility: hidden;
}
.footer{
    height: 0px;
    visibility: hidden;

}


.primer-footer{
    position: relative;
    height: 0px;
    visibility: visible
}
.name{
    float: left;
}

.name-footer{
    width: 40%;
    margin: 0%;
    float: left;
    font-size: 15px
}
.back {display: inline-block
;    text-align: right;
    list-style: none;
   font-size: 15px;
   position: absolute
   ;right: 0
}

.end-div{
    visibility: hidden;
    width: 1px;
    height: 1px;
    margin: 0 auto
}
.n{
    height: 1px
}
.n li{height: 1px}
.ul-footer{
    
  background: 
  #d4d4d4;
}
footer{background-color: 
    #d4d4d4;}
.to{
    height: 1px;
    width: 98%;
    margin:0 auto;
    background-color: black
}
.to-{
width: 98%;
margin: 0 auto
}
/*MEDIA QUERIES*/

@media (min-width: 768px) {
.footer{
    height: 1px;
visibility: visible
}

.end-div{visibility: visible}

.back{visibility: hidden;
    margin: 0 auto;
    padding: 0%;
    float: none;
    width: 0;
    position:relative;
    width: 0;
    height: 0%;
}



.n{height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
   .n li {
    float: right;
    height: auto
  }
   .n li a {
    color: #333;
    display: block;
    padding: .3em;
    text-decoration: none;
   }















.end-div{
    display: inline-table;
    width: 50%;
    text-align: center;
    float: right

}





.footer-nav{
    width: 10%;
}


.primer-footer{
    height: 0px;
    visibility: hidden
}
    .main-nav li {
        display: inline-block;
        margin-top: 4%;
        margin-left:4%;
        margin-right:3%;
        margin-bottom:7%;
    }
.main-nav a {
    background-color: #d4d4d4;
}
.main-nav ul {
    padding: 0;
}

.initial {
    height: 300px;
    margin-left: 25px;
    margin-right: 25px;
}
.imagen {
    float:right;
    width: 40%;
}
.texto {
    float: left;
    width: 50%;
    font-size: 3vw
}
.portfolio-name {
    height:10%;
    margin: 0 auto
    ;padding: 1% 0 1% 0
}
.primary-content {
    width: 100%;
}
 .m {
    float:none;
    width: 44%;
    margin-left: 5%;
    display: inline-block;
    margin: 0 auto;
    text-align: center
    ;vertical-align: top
}

 .wrapper {
     width: 100%;
     margin: 0;
     padding: 0;

 } 
 .clearfix {
   content:"";
   display: table;  
   clear: both;
 }
 #contact p {
     margin-left: 25%;
     margin-right: 25%;
 }

 .bottom {
     visibility: visible;
     right: 0;
     position: absolute
}
.bottom li {
    display: inline-block;
    margin-right: 15px;
    padding: 0;
}
.bottom li a {
    text-decoration: none;
    color: black;
}
.footer-nav .name {
    width: 10%;
    margin-left: 15px;
    padding: 0;
    margin-top: 16px;
}
.ul-footer{height: 20px;
margin-bottom: 0}
}
     @media(min-width:1024px){
        html{height: 100%}
        head{
            background-color: 
    #d4d4d4;
        }
        body{ background-color: 
            #d4d4d4;
            ;width: 100%;
            height: 100%;
        }
        .m img {width: 90%}
        nav{
            position:absolute;
            width: 75%;
            top: 0;
            right:0;
            margin:1% 0 0 0;
        }
        .main-nav a{
            margin: 0;
            text-align: center;
            text-align: center;
         }
        .main-nav li{
            margin-top: 0;
             top: 0%;
            }
        .main-nav{
            position: absolute;
            top:0%;
             margin: 1% 0 0 0 ;
             width: 50%;
             right: 0;
            }
        .main-header{
             width: 100%;
             margin:0 0 1% 0
            }
        h1{
            top: 0;
            left: 0;
            margin: 1% 0 0 0;
            width: 30%
        }
        .imagen{float: right;
            ;margin: 0;
            width: 35%
        }
        .parrafo-inicial{
            left: 0%;
            width: 35%;
            margin:0
        }

        .parrafo-inicial{
            position: absolute;
        }

        .image img {
            width: 50%;
        }

        .initial{
            height: auto;
            padding-bottom: 1%;
            padding:2%;
        }


        .texto{
            text-align: left;
            width: 50%;
           font-size: 2vw
        }

        img{
            width: 55%
        }

        .wrapper{
            height: 50%;
            width: 100%;
            position: relative;
        }

        .m{
            display: inline-block;
            width: 33%;
            margin: 0%;
            vertical-align: top
        }

        .portfolio-name{
            height:auto;
            padding-bottom: 1%
         }

        .back{
            visibility: hidden;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            float: none;
            right: 50%;
        }

        .bottom{
            right: 0;
            position: absolute;
        }
        p{
           font-size: 2vw}
    }